<section>
    <div class="contain">
        <div class="row ">
            <div class="col-md-6">
                <h1 class="mt-5">Hi, Simeon</h1>
                <span>How are you feeling today?</span>
            </div>
            <div class="col-md-6">
                <img src="./assets/img4.jpg" style="width: 150px; margin-top: 4vh !important; height: 150px; float: right;" class="rounded-circle mt-4 float-right" alt="" srcset="">
            </div>
        </div>

        <div class="row search">
            <div class="col-md-12">
                <input type="text" class="search-input" placeholder="Search Doctor or Clinic...">
            </div>

            <div class="col-md-12 mt-5 appointment">
            <p class="">Next Appointment</p>
            <p class="date-para"> {{currentDate | date}} </p>
            </div>
        </div>

      
    </div>
</section>